.featured-item {
  position: relative;
  background-image: url('../../../assets/home/featured.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.featured-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-attachment: inherit;
  background-position: inherit;
  background-size: inherit;
  filter: blur(5px); /* Apply blur to the background image */
  filter: brightness(50%);
  z-index: -1; /* Keep it behind the content */
}

.featured-item .content-container {
  position: relative;
  z-index: 1; /* Ensure content stays above the blurred background */
}
